html {
  scroll-behavior: smooth;
}

body {
  font: 400 20px/1.2 Raleway, sans-serif;
  font-style: normal;
}

/* --- Начало блока header --- */

.header {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: end;
  padding: 92px 24px 96px;
}

.header__links {
  padding-bottom: 39px;
  padding-left: 26px;
 }

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-underline-position: under;
  text-transform: lowercase;
}

.header__link_active {
  letter-spacing: 0;
  text-decoration: none;
  cursor: default;
}

.header__logo {
  display: block;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.contacts {
  display: flex;
  flex-direction: column;
  padding-bottom: 2px;
  padding-left: 184px;
  text-underline-position: under;
  text-decoration-thickness: 1px;
  text-underline-offset: -1px;
}

.contacts-link {
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.contacts-link_street {
  letter-spacing: 0;
  text-decoration: none;
}

/* --- Конец блока header ---

  --- Начало блока cover ---*/

  .cover {
    min-width: 100%;
    padding:  165px 50px 51px;

    /* Эффект затемнения c помощью линейного градиента с альфа-каналом 
       opacity: 60% соответствует 99 в HEX*/

    background: linear-gradient(#0009, #0009), url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .cover__title {
    width: 100%;
    color: #fff;
    font: 700 100px/1.15 Raleway, sans-serif;
    letter-spacing: .3em;
    text-transform: uppercase;
  }

  .aligned-text {
    display: block;
  }
  
  .letter-spacing-extended {
    letter-spacing: .6em;
  }

  .aligned-text_center {
    line-height: 140%;
    text-align: center;
  }
  
  .aligned-text_right {
    line-height: 100%;
    text-align: right;
  }

  .no-letter-spacing {
    letter-spacing: 0;
  }

  .cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 135px;
    padding-left: 28px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .cover__description-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    word-spacing: .8em;
  }
  
.cover__description-text .letter-spacing-extended {
    letter-spacing: 1.1em;
  }

.cover__description-text span {
    word-spacing: .9em;
  }

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: transparent;
 }
 
 .bet-button:active {
  border-color: #000;
  color: #000;
  background-color: #fff;
 }

 
/* --- Конец блока cover ---

  --- Начало блока lots ---*/

.lots {
  padding: 179px 24px 146px;
}

.lots__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots__card-list {
  padding: 27px 0 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 25px;
  list-style: none;
  color:#fff;
}

.card-link {
  display: block;
  height: 100%;
  background-color: #000;
  text-decoration: none;
}

.card {
  height: 100%;
  padding: 51px 40px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background: linear-gradient(#0009, #0009),url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-color: #000;
  background: linear-gradient(#0009, #0009), url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card_type_picture {
  background-color: #000;
  background: linear-gradient(#0009, #0009), url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-underline-position: under;
  text-decoration-thickness: 1px;
  text-underline-offset: -2px;
  line-height: 26px;
}

.card__text span {
  letter-spacing: .13em;
}

.lots__look-more-link {
  text-transform: lowercase;
  padding-left: 40px;
  text-underline-position: under;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

/* --- Конец блока lots ---

  --- Начало блока about ---*/

.about {
  padding-top: 36px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 193px;
  display: grid;
  grid: 240px auto / 334px auto;
}

.about__logo {
  text-align: center;
  background-color: #000;
  border-radius: 50%;
  justify-self: center;
  display: flex;
  height: 240px;
  width: 240px;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 62%;
  padding: auto;
  margin: auto;
}

.about__title {
  text-transform: uppercase;
}

.about__text {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

/* --- Конец блока about ---

  --- Начало блока footer ---*/
  


/* --- Конец блока footer --- */
  